# The following sections contain paths to the logs on the remote server machine as well as the filenames.  The section
# names are used as the label for each check box.  Path and filenames are required

[ABC]
path: \sample\Logs\ABC
filenames: ABC.log, ABCPerformance.log

[DEF]
path: \sample\Logs\DEF
filenames: DEF.log, DEFPerformance.log

[GHI]
path: \sample\Logs\GHI
filenames: GHI.log, GHIPerformance.log, GHISecurity.log

[JKL]
path: \sample\Logs\JKL
filenames: JKL.log, JKLPerformance.log

[MNO]
path: \sample\Logs\MNO
filenames: MNO.log, MNO2.log

[PQR]
path: \sample\Logs\ABC
filenames: Test.html


# This section contains the credentials to use to login to the remote server.

[Credentials]
user: username
password: password

# This section determines where the zipped logs will be stored

[Destination]
ZIPPED_LOGS_LOCATION: C:\ZippedLogs

# TODO: Permit a dropdown of machine addresses for easier access to remote machines.  Perhaps have credentials for each
# machine.  Need to also research security concerns with credential handling.
[Machine IP-Addresses]
name: 0.0.0.0000




